* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 30px;
    width: 320px;
    height: fit-content;
}

header img {
    width: 100%;
    height: auto;
}

section span:first-child {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

section span:first-child strong {
    color: #37DE2F;
}

section span:first-child strong:hover {
    cursor: pointer;
}

footer {
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    color: gray;
    font-size: 12px;
}