* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    color: gray;
    font-size: 12px;
}